body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(229, 223, 223, 0.1);
    background-image: url(images/wine2.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    font-size: 11px;
    font-family: arial, sans-serif;
    color: #212121;
}

h1,
h2,
h3 {
    margin-top: 0px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.4em;
}

p,
ol,
ul {
    margin-bottom: 1.8em;
    line-height: 160%;
}

a {
    color: #f5f5dc;
}

a:hover {
    text-decoration: none;
    color: #f5f5dc;
    font-weight: bold;
}


/* wrapper */

#wrapper {
    width: 900px;
    height: auto;
    margin: 20px auto 20px auto;
    background-color: rgba(245, 245, 220, 0.5);
    border-radius: 15px;
}


/* Header */

header {
    width: 900px;
    height: 120px;
    background-color: #2d102c;
    border-radius: 13px;
}

header a {
    text-decoration: none;
    color: #f5f5dc;
}


/* Logo*/

#logo {
    float: left;
    width: 400px;
}

#logo h1,
#logo p {
    margin: 10px;
    line-height: normal;
    font-weight: normal;
    color: #f5f5dc;
}

#logo h1 {
    padding: 25px 0px 0px 60px;
    font-size: 36px;

}

#logo a {
    text-decoration: none;
}

#logo a:hover {
    color: #f5f5dc;
}

#logo p {
    font-size: 14px;
}

#logo img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px 30px 30px 10px;
    margin-top: 5%;
}


/* Menu */

#menu {
    float: right;
    background: #f5f5dc;
    border-top: 0px solid;
    border-radius: 5px;
    margin: 35px 5px 0 0;
    box-sizing: border-box;
}

#menu a {
    text-decoration: none;
    color: #2d102c;
    font-size: 11px;
    display: block;
    width: auto;
    height: 30px;
    padding: 10px 30px 0px 20px;
}

#menu a:hover {
    text-decoration: none;
    color: #2d102c;
    font-weight: bold;
}

#menu ul {
    margin: 0px 0 0 0;
    padding: 10px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu ul li {
    position: relative;
    text-align: center;
    margin-top: auto;
    margin-left: 0px;
}

#menu ul ul {
    position: absolute;
    left: -20%;
    top: 20px;
    display: none;
    text-align: center;
    width: 0px;
}

#menu ul li:hover > ul {
    display: block;
    line-height: normal;
}

#menu li {
    float: left;
    margin: 0px 0px 0px 1px;
}

#baixo li {
    float: left;
    margin: 0px 0px 0px 1x;
    z-index: 10;
}

#baixo a {
    border: 1px solid #000;
    text-decoration: none;
    font-weight: bold;
    background: #f5f5dc;
    color: #000;
    font-size: 1rem;
    display: block;
    width: 130px;
    height: 30px;
    padding: 10px;
    margin: 0px;
}

/* Page */

#page {
    width: 1000px;
    margin: 0px auto;
    padding: 30px 0px;
}


/* Content */

#content {
    float: right;
    width: 700px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px 50px 0px 0px;
}

#propaganda {
    width: 80%;
    height: 150px;
    margin: -20px 0px 0px 50px;
}
.main-content {
    width: 500px;

}

section {
    background: rgba(245, 245, 220, 0.5) height: 100%;
}

.produtos1 {
    background-image: url(images/p10.jpeg);
    width: 200px;
    height: 255px;
    margin: 10px 0px 0px 20px;
}

.produtos2 {
    background-image: url(images/p1.jpeg);
    width: 200px;
    height: 255px;
    margin: -255px 0px 0px 230px;
}

.produtos3 {
    background-image: url(images/p2.jpeg);
    width: 200px;
    height: 255px;
    margin: -255px 0px 0px 440px;
}

.produtos4 {
    background-image: url(images/p3.jpeg);
    width: 200px;
    height: 255px;
    margin: 10px 0px 10px 20px;
}

.produtos5 {
    background-image: url(images/p4.jpeg);
    width: 200px;
    height: 255px;
    margin: -266px 0px 10px 230px;
}

.produtos6 {
    background-image: url(images/p5.jpeg);
    width: 200px;
    height: 255px;
    margin: -266px 0px 10px 440px;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 300px;
    margin: -659px 0px 0px 0px;
    box-sizing: border-box;
}

#sidebar-content {
    padding: 5px;
    height: 500px;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#sidebar li ul {
    margin-bottom: 1.8em;
    padding-left: 20px;
    list-style: disc;
}

#sidebar h2 {
    margin-right: 40px;
    padding: 4px 20px;
    background: #2d102c;
    font-size: 1.2em;
    color: #f5f5dc;
    border-radius: 3px;
}

#sidebar a {
    text-decoration: none;
    color: #2d102c;
    font-size: 15px;
}

#sidebar a:hover {
    text-decoration: underline;
}

.bra {
    width: 70px;
    height: 50px;
    margin: 0px 140px 5px 0px;
    background-image: url(images/bra.png)
}


.esp {
    width: 70px;
    height: 50px;
    margin: 0px 140px 5px 0px;
    background-image: url(images/esp.png)
}

.arg {
    width: 70px;
    height: 50px;
    margin: 0px 140px 5px 0px;
    background-image: url(images/arg.png)
}

.ita {
    width: 70px;
    height: 47px;
    margin: 0px 140px 5px 0px;
    background-image: url(images/ita.png)
}

.chi {
    width: 70px;
    height: 47px;
    margin: 0px 140px 5px 0px;
    background-image: url(images/chi.png)
}


/* Search */

#search for {
    margin-bottom: 1.8em;
    padding: 0px;
}

#search fieldset {
    margin: 0px 0px 0px -10px;
    padding: 0px 0px 10px 10px;
    border: none;
}

#search #s {
    width: 160px;
}


/* Footer */

footer {
    width: 900px;
    height: 50px;
    color: #2d102c;
    background: #f5f5dc;
    border-radius: 10px;
    clear: both;
}

footer .face {
    height: 0px;
    width: 0px;
    margin: auto 0px 0px 400px;

}

footer .insta {
    height: 0px;
    width: 0px;
    margin: auto 0px 0px 10px;

}

footer .tt {
    height: 0px;
    width: 0px;
    margin: 0px 0px 0px 10px;
}

footer a {
    color: #2d102c;
}
